<script>window.onbeforeunload = function() { return true; };</script>
<%= form_with model: entry, local: true do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title, size: 90 %>
  </br>
  <%= form.label :description %>
  <%= form.text_field :description, size: 90 %>
  </br>
  <div class="notes-and-content">
    <div class="notes">
      <%= form.label :notes %>
      <%= form.text_area :notes, cols: 20, rows: 20 %>
    </div>
    <div class="content">
      <%= form.label :content %>
      <%= form.text_area :content, cols: 60, rows: 20 %>
    </div>
  </div>
  <%= form.label :tag_list %>
  <%= form.text_field :tag_list, size: 50 %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
