<p id="notice"><%= notice %></p>

<%= link_to 'Back to search', landing_page_path %>
</br>
<%= @includes %>
</br>
<%= @excludes %>

<h1>Entries</h1>
  </br>
  <% @entries.each do |entry| %>
    <%= render 'entry', entry: entry %>
  <% end %>


<%= link_to 'New Entry', new_entry_path %>
