<p id="notice"><%= notice %></p>

<%= link_to 'Return to Index', projects_path %></br></br>

<div class='project'>
  <%= simple_format @project.title, { class: 'project-title' }, { wrapper_tag: 'b' } %>
  <%= simple_format @project.description %>
  <b>Owner:</b>
  </br>
  <%= @project.owner.email %>
  </br>
  <b>Members:</b>
  </br>
  <% @project.users.each do |user| %>
    <%= user.email %>
    </br>
  <% end %>
  </br>
  <b>Entries:</b>
  </br>
  <% @project.entries.each do |entry| %>
    <%= link_to entry.title, entry %></br>
  <% end %>
  </br>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  </br>
  </br>
</div>
