<h1 class='show_tag_display'>
  Showing tag: <%= @tag %>
</h1>
<% @entries.each do |entry| %>
<div class='entry'>
  <%= simple_format entry.title, { class: 'entry-title' }, { wrapper_tag: 'div' } %>
    <b>
      <%= simple_format entry.description %>
    </b>
    <div class='entry-content'>
      <%= simple_format entry.content %>
    </div>
    <b>Tags:</b>
    <% entry.tag_list.each do |tag| %>
      <%= link_to tag, tag_path(tag) %>
    <% end %>
    </br>
    <%= link_to 'Show', entry %> |
    <%= link_to 'Edit', edit_entry_path(entry) %> |
    <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
    </br>
    </br>
  </div>
<% end %>